@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  :root {
    --background: 251, 251, 255;
    --foreground: 25, 4, 69;
    --primary: 106, 79, 235;
    --primary-foreground: 255, 255, 255;
    --secondary: 24, 0, 69;
    --border: 25, 4, 69, 0.1;
  }

  body {
    @apply h-full w-full font-normal tracking-normal;
  }

  .custom-quill .ql-container.ql-snow,
  .custom-quill .ql-toolbar.ql-snow {
    @apply border-border border-[1px];
  }

  .custom-quill .ql-container.ql-snow {
    @apply rounded-b-md rounded-t-none h-[150px] text-secondary;
  }

  .custom-quill .ql-toolbar.ql-snow {
    @apply rounded-t-md rounded-b-none;
  }
}

html,
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
